<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Aloura - Checkout</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="noindex, nofollow" name="robots" />

    <link rel="stylesheet" href="/css/checkout.css" />

    <!-- Favicons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
      integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://bootstrapmade.com/content/demo/eStore/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Vendor CSS Files -->
    <link
      href="https://bootstrapmade.com/content/vendors/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://bootstrapmade.com/content/vendors/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://bootstrapmade.com/content/vendors/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />
    <link
      href="https://bootstrapmade.com/content/vendors/aos/aos.css"
      rel="stylesheet"
    />
    <link
      href="https://bootstrapmade.com/content/vendors/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="https://bootstrapmade.com/content/vendors/drift-zoom/drift-basic.css"
      rel="stylesheet"
    />
    <!-- Main CSS File -->
    <link
      href="https://bootstrapmade.com/content/demo/eStore/assets/css/main.css"
      rel="stylesheet"
    />
    <!-- =======================================================
    * Template Name: eStore
    * Template URL: https://bootstrapmade.com/estore-bootstrap-ecommerce-template/
    * Updated: Mar 01 2025 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <script type="module" src="../js/checkout.js"></script>

    <!-- Tab Logo / 'Favicon' -->
    <link
      rel="icon"
      type="image/x-icon"
      href="./img/favicons/rounded-background-favicon.ico"
    />

    <!-- Font Awesome (navbar, footer, modal, chatbot, cart all use it's icons SO MAKE SURE TO LINK IT) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Bootstrap CSS & JS(navbar, footer, modal, cart all use it's functionality SO MAKE SURE TO LINK IT) -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Toasty CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>
  <body
    class="checkout-page"
    data-aos-delay="0"
    data-aos-duration="600"
    data-aos-easing="ease-in-out"
  >
    <!-- Loader -->
    <%- include('partials/loader.ejs') %>

    <!-- Navbar -->
    <%- include('partials/navbar.ejs') %>

    <!-- Modal -->
    <%- include('partials/modal.ejs') %>

    <!-- Cart -->
    <%- include('partials/cart.ejs') %>

    <!-- Chatbot -->
    <%- include('partials/chatbot.ejs') %>

    <!-- Dark Mode -->
    <%- include('partials/dark-mode.ejs') %>

    <main class="main">
      <!-- Checkout Section -->
      <section class="checkout section" id="checkout">
        <div
          class="container aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="row">
            <div class="col-lg-7">
              <!-- Checkout Form -->
              <div
                class="checkout-container aos-init aos-animate"
                data-aos="fade-up"
              >
                <form class="checkout-form" id="checkoutForm">
                  <!-- Customer Information -->
                  <div class="checkout-section" id="customer-info">
                    <div class="section-header">
                      <div class="section-number">1</div>
                      <h3>Customer Information</h3>
                    </div>
                    <div class="section-content">
                      <div class="row">
                        <div class="col-md-6 form-group">
                          <label for="first-name">Full Name</label>
                          <input
                            class="form-control"
                            id="first-name"
                            name="first-name"
                            placeholder="Full Name*"
                            type="text"
                            value="<%= user.name %>"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="email">Email Address</label>
                        <input
                          class="form-control"
                          id="emailaddress"
                          name="email"
                          placeholder="Email*"
                          type="email"
                          value="<%= user.email %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input
                          class="form-control"
                          id="phoneNumber"
                          name="phone"
                          placeholder="Phone Number*"
                          type="tel"
                          inputmode="numeric"
                          pattern="\d*"
                          maxlength="15"
                          value="<%= user.phone %>"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- Shipping Address -->
                  <div class="checkout-section" id="shipping-address">
                    <div class="section-header">
                      <div class="section-number">2</div>
                      <h3>Shipping Address</h3>
                    </div>
                    <div class="section-content">
                      <div class="form-group">
                        <label for="address">Street Address</label>
                        <input
                          class="form-control"
                          id="address"
                          name="address"
                          placeholder="Address*"
                          type="text"
                        />
                      </div>
                      <div class="form-group">
                        <label for="apartment"
                          >Apartment, Suite, etc. (optional)</label
                        >
                        <input
                          class="form-control"
                          id="apartment"
                          name="apartment"
                          placeholder="Apartment, Suite, Unit, etc.*"
                          type="text"
                        />
                      </div>
                      <div class="row">
                        <div class="col-md-4 form-group">
                          <label for="city">City</label>
                          <input
                            class="form-control"
                            id="city"
                            name="city"
                            placeholder="City*"
                            type="text"
                          />
                        </div>
                        <div class="col-md-4 form-group">
                          <label for="state">State</label>
                          <input
                            class="form-control"
                            id="state"
                            name="state"
                            placeholder="State*"
                            type="text"
                          />
                        </div>
                        <!-- <div class="col-md-4 form-group">
                          <label for="zip">ZIP Code</label>
                          <input
                            class="form-control"
                            id="zip"
                            name="zip"
                            placeholder="ZIP Code"
                            
                            type="text"
                          />
                        </div> -->
                      </div>
                      <div class="form-group">
                        <label for="country">Country</label>
                        <select class="form-select" id="country" name="country">
                          <option value="">Select Country</option>
                          <!-- Load countries dynamically from an array -->
                          <% country_list.forEach(country => { %>
                          <option value="<%= country %>"><%= country %></option>
                          <% }) %>
                        </select>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          id="save-address"
                          name="save-address"
                          type="checkbox"
                        />
                        <label class="form-check-label" for="save-address">
                          Save this address for future orders
                        </label>
                      </div>
                      <!-- check box for cash on delivery -->
                      <div class="payment-type form-check">
                        <input
                          class="form-check-input"
                          id="cash"
                          name="billing-same"
                          type="checkbox"
                        />
                        <label class="form-check-label" for="cash">
                          Cash On Delivery (COD)
                        </label>
                      </div>
                      <!-- Cash On Delivery confirmation message (initially hidden) -->
                      <div class="cod-confirmation-message">
                        <!-- USES BOOTSTRAP CSS HERE-->
                        <div class="mt-2 p-3 bg-light rounded cod-message">
                          <div class="d-flex align-items-center">
                            <i class="fas fa-wallet text-primary me-3"></i>
                            <span
                              >Payment will be collected upon delivery. No
                              advance payment required.</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Payment Method -->
                  <div class="checkout-section" id="payment-method">
                    <div class="section-header">
                      <div class="section-number">3</div>
                      <h3>Payment Method</h3>
                    </div>
                    <div class="section-content">
                      <div class="payment-method-container">
                        <!-- Left column with payment fields -->
                        <div class="payment-fields-column">
                          <div class="payment-details" id="credit-card-details">
                            <div class="form-group">
                              <label for="card-number">Card Number</label>
                              <div class="card-number-wrapper">
                                <input
                                  class="form-control"
                                  id="card-number"
                                  name="card-number"
                                  placeholder="1234 5678 9012 3456*"
                                  type="text"
                                />
                                <div class="card-icons">
                                  <i class="bi bi-credit-card-2-front"></i>
                                  <i class="bi bi-credit-card"></i>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 form-group">
                                <label for="expiry">Expiration Date</label>
                                <input
                                  class="form-control"
                                  id="expiry"
                                  name="expiry"
                                  placeholder="MM/YY*"
                                  type="text"
                                />
                              </div>
                              <div class="col-md-6 form-group">
                                <label for="cvv">Security Code (CVV)</label>
                                <div class="cvv-wrapper">
                                  <input
                                    class="form-control"
                                    id="cvv"
                                    name="cvv"
                                    placeholder="CVV*"
                                    type="text"
                                  />
                                  <span
                                    aria-label="3-digit code on the back of your card"
                                    class="cvv-hint"
                                    data-bs-original-title="3-digit code on the back of your card"
                                    data-bs-placement="right"
                                    data-bs-toggle="tooltip"
                                  >
                                    <i class="bi bi-question-circle"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="card-name">Name on Card</label>
                              <input
                                class="form-control"
                                id="card-name"
                                name="card-name"
                                placeholder="Card Holder Name*"
                                type="text"
                                maxlength="28"
                              />
                            </div>
                          </div>
                          <div
                            class="payment-details d-none"
                            id="paypal-details"
                          >
                            <p class="payment-info">
                              You will be redirected to PayPal to complete your
                              purchase securely.
                            </p>
                          </div>
                          <div
                            class="payment-details d-none"
                            id="apple-pay-details"
                          >
                            <p class="payment-info">
                              You will be prompted to authorize payment with
                              Apple Pay.
                            </p>
                          </div>
                        </div>

                        <!-- Right column with card display -->
                        <div class="card-display-column">
                          <!-- FLIPPING CREDIT CARD -->
                          <div class="card-flip-container">
                            <div class="card-flip-inner">
                              <div class="card-flip-front">
                                <div class="card-header-custom">
                                  <div class="card-logo">
                                    <img
                                      src="../img/checkout-related/card-logo.png"
                                      alt="Card Logo"
                                    />
                                    <h5 class="card-text-normal">
                                      Master Card
                                    </h5>
                                  </div>
                                  <img
                                    src="../img/checkout-related/chip.png"
                                    alt="Chip"
                                    class="card-chip"
                                  />
                                </div>
                                <div class="card-details">
                                  <div class="name-number">
                                    <h6 class="card-text-small">Card Number</h6>
                                    <h5 class="card-number">
                                      8050 2030 3020 5040
                                    </h5>
                                    <h5 class="card-name">Prem Kumar Shahi</h5>
                                  </div>
                                  <div class="valid-date">
                                    <h6 class="card-text-small">Valid Thru</h6>
                                    <h5 class="card-text-normal">05/28</h5>
                                  </div>
                                </div>
                              </div>
                              <div class="card-flip-back">
                                <h6 class="card-text-small">
                                  For customer service email at aloura@gmail.com
                                </h6>
                                <span class="magnetic-strip"></span>
                                <div class="signature"><i>005</i></div>
                                <h5 class="card-text-small">
                                  By using this card, you accept the terms and
                                  conditions of the cardholder agreement
                                </h5>
                              </div>
                            </div>
                          </div>
                          <!-- END OF FLIPPING CREDIT CARD -->
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- To be used with displaying subtotal -->
            <% let subtotal = 0 %>
            <div class="col-lg-5">
              <!-- Order Summary -->
              <div
                class="order-summary aos-init aos-animate"
                data-aos="fade-left"
                data-aos-delay="200"
                style="top: 4rem"
              >
                <div class="order-summary-header">
                  <h3>Order Summary</h3>
                  <span class="item-count" id="total-items">Loading...</span>
                </div>
                <div class="order-summary-content">
                  <div class="order-items">
                    <!-- Regular items -->
                    <% if (user && user.cart && user.cart.length > 0) { %>
                      <% user.cart.forEach(item => { %>
                        <div class="order-item">
                          <div class="order-item-image">
                            <img
                              alt="Product"
                              class="img-fluid"
                              src="<%= item.fragrance.image[0] %>"
                            />
                          </div>
                          <div class="order-item-details">
                            <h4><%= item.fragrance.name %></h4>
                            <p class="order-item-variant">Size: <%= item.size %></p>
                            <div class="order-item-price">
                              <span class="quantity"><%= item.quantity %> ×</span>
                              <span class="price">$<%= item.price %></span>
                              <% subtotal += item.price * item.quantity %>
                            </div>
                          </div>
                        </div>
                      <% }) %>
                    <% } %>
                    
                    <!-- Gift items will be loaded here -->
                    <div id="gift-items-container"></div>
                  </div>
                  <div class="order-totals">
                    <!-- Add Discount Code Section -->
                    <div class="order-discount mb-3">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Discount code or gift card"
                          aria-label="Discount code"
                        />
                        <button
                          class="btn btn-outline-secondary"
                          type="button"
                          id="apply-discount"
                        >
                          Apply
                        </button>
                      </div>
                    </div>
                    <div class="order-subtotal d-flex justify-content-between">
                      <span>Subtotal</span>
                      <span id="subtotal">$<%= subtotal.toFixed(2) %></span>
                    </div>
                    <div class="order-shipping d-flex justify-content-between">
                      <span>Shipping</span>
                      <span>$<%= shippingFee.toFixed(2) %></span>
                    </div>
                    <div class="order-tax d-flex justify-content-between">
                      <span>Tax</span>
                      <span>$<%= tax.toFixed(2) %></span>
                    </div>
                    <div class="order-total d-flex justify-content-between">
                      <span>Total</span>
                      <span id="total">$<%= (subtotal + shippingFee + tax).toFixed(2) %></span>
                    </div>
                    <div class="d-flex justify-content-end">
                      <div>
                        <button
                          id="checkout-button"
                          class="btn btn-outline-primary mt-4"
                        >
                          Place Order
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Terms and Privacy Modals -->
          <div
            aria-hidden="true"
            aria-labelledby="termsModalLabel"
            class="modal fade"
            id="termsModal"
            tabindex="-1"
          >
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="termsModalLabel">
                    Terms and Conditions
                  </h5>
                  <button
                    aria-label="Close"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    type="button"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam in dui mauris. Vivamus hendrerit arcu sed erat
                    molestie vehicula. Sed auctor neque eu tellus rhoncus ut
                    eleifend nibh porttitor. Ut in nulla enim. Phasellus
                    molestie magna non est bibendum non venenatis nisl tempor.
                  </p>
                  <p>
                    Suspendisse in orci enim. Vivamus hendrerit arcu sed erat
                    molestie vehicula. Sed auctor neque eu tellus rhoncus ut
                    eleifend nibh porttitor. Ut in nulla enim. Phasellus
                    molestie magna non est bibendum non venenatis nisl tempor.
                  </p>
                  <p>
                    Suspendisse in orci enim. Vivamus hendrerit arcu sed erat
                    molestie vehicula. Sed auctor neque eu tellus rhoncus ut
                    eleifend nibh porttitor. Ut in nulla enim. Phasellus
                    molestie magna non est bibendum non venenatis nisl tempor.
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    type="button"
                  >
                    I Understand
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            aria-hidden="true"
            aria-labelledby="privacyModalLabel"
            class="modal fade"
            id="privacyModal"
            tabindex="-1"
          >
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="privacyModalLabel">
                    Privacy Policy
                  </h5>
                  <button
                    aria-label="Close"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    type="button"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam in dui mauris. Vivamus hendrerit arcu sed erat
                    molestie vehicula. Sed auctor neque eu tellus rhoncus ut
                    eleifend nibh porttitor. Ut in nulla enim.
                  </p>
                  <p>
                    Suspendisse in orci enim. Vivamus hendrerit arcu sed erat
                    molestie vehicula. Sed auctor neque eu tellus rhoncus ut
                    eleifend nibh porttitor. Ut in nulla enim. Phasellus
                    molestie magna non est bibendum non venenatis nisl tempor.
                  </p>
                  <p>
                    Suspendisse in orci enim. Vivamus hendrerit arcu sed erat
                    molestie vehicula. Sed auctor neque eu tellus rhoncus ut
                    eleifend nibh porttitor. Ut in nulla enim. Phasellus
                    molestie magna non est bibendum non venenatis nisl tempor.
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    type="button"
                  >
                    I Understand
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Checkout Section -->
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <!-- Scroll Top
    <a
      class="scroll-top d-flex align-items-center justify-content-center"
      href="#"
      id="scroll-top"
      ><i class="bi bi-arrow-up-short"></i
    ></a> -->

    <!-- Vendor JS Files -->
    <script src="https://bootstrapmade.com/content/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://bootstrapmade.com/content/vendors/php-email-form/validate.js"></script>
    <script src="https://bootstrapmade.com/content/vendors/swiper/swiper-bundle.min.js"></script>
    <script src="https://bootstrapmade.com/content/vendors/aos/aos.js"></script>
    <script src="https://bootstrapmade.com/content/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="https://bootstrapmade.com/content/vendors/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="https://bootstrapmade.com/content/vendors/glightbox/js/glightbox.min.js"></script>
    <script src="https://bootstrapmade.com/content/vendors/drift-zoom/Drift.min.js"></script>
    <script src="https://bootstrapmade.com/content/vendors/purecounter/purecounter_vanilla.js"></script>
    <!-- Main JS File -->
    <!-- Removing the problematic main.js file -->
    <!-- Toasty JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- Checkout Items Container -->
    <div class="checkout-container">
      <h2>Order Summary</h2>
      <div class="checkout-items">
        <!-- Gift items will be inserted here -->
      </div>
      <div class="checkout-total">
        <!-- Total price will be inserted here -->
      </div>
    </div>

    <!-- Include required scripts -->
    <script src="/js/toast.js"></script>
    <script src="/js/cart.js"></script>
    <script>
      // Function to update the order summary with gifts
      async function updateOrderSummary() {
        try {
          const response = await fetch('/api/gifting', {
            credentials: 'include',
            headers: {
              'Accept': 'application/json'
            }
          });
          
          if (!response.ok) {
            throw new Error('Failed to fetch gifts');
          }

          const gifts = await response.json();
          const giftContainer = document.getElementById('gift-items-container');
          const totalItemsElement = document.getElementById('total-items');
          const subtotalElement = document.getElementById('subtotal');
          const totalElement = document.getElementById('total');
          
          // Clear existing gift items
          giftContainer.innerHTML = '';
          
          // Add gift items to the container
          let giftSubtotal = 0;
          gifts.forEach(gift => {
            const giftItem = document.createElement('div');
            giftItem.className = 'order-item';
            giftItem.innerHTML = `
              <div class="order-item-image">
                <img alt="${gift.perfume.name}" class="img-fluid" src="${gift.perfume.image[0]}" />
              </div>
              <div class="order-item-details">
                <h4>Gift Package</h4>
                <p class="order-item-variant">
                  Perfume: ${gift.perfume.name} | Wrap: ${gift.wrap.name} | Card: ${gift.card.name}
                </p>
                <p class="order-item-variant">To: ${gift.recipientName}</p>
                <div class="order-item-price">
                  <span class="quantity">1 ×</span>
                  <span class="price">$${gift.totalPrice}</span>
                </div>
              </div>
            `;
            giftContainer.appendChild(giftItem);
            giftSubtotal += gift.totalPrice;
          });

          // Update total items count
          const regularItemsCount = document.querySelectorAll('.order-item:not(.gift-item)').length;
          const totalItems = regularItemsCount + gifts.length;
          totalItemsElement.textContent = `${totalItems} Items`;

          // Update subtotal and total
          const regularSubtotal = parseFloat(document.getElementById('subtotal').textContent.replace('$', ''));
          const newSubtotal = regularSubtotal + giftSubtotal;
          const shippingFee = parseFloat(document.querySelector('.order-shipping span:last-child').textContent.replace('$', ''));
          const tax = parseFloat(document.querySelector('.order-tax span:last-child').textContent.replace('$', ''));
          const newTotal = newSubtotal + shippingFee + tax;
          
          subtotalElement.textContent = `$${newSubtotal.toFixed(2)}`;
          totalElement.textContent = `$${newTotal.toFixed(2)}`;
        } catch (error) {
          console.error('Error updating order summary:', error);
        }
      }

      // Update order summary when page loads
      document.addEventListener('DOMContentLoaded', updateOrderSummary);

      // Update order summary when cart is updated
      window.addEventListener('cart-updated', updateOrderSummary);
    </script>
  </body>
</html>